.flexContainer {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #004851;
  height: 100%;
}

.flexContainer__item {
  border: 1px solid #004851;
  font-size: 20px;
  padding: 2rem;
  color: #004851;
}
