.idea
.vscode
.DS_Store
.sass-cache
.tern-project
.tmp
.docz
npm-debug.log
*.map
private-config.json
jsconfig.json
devData.coffee
build
_dev
coverage/
test-results
node_modules
*.old
jsfrontend-build/
src/index.html
.storybook/stories.js
storybook-static/
