.flexChildrenContainer {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #004851;
  height: 100%;
  display: flex;
}

.flexChildrenContainer__item {
  border: 1px solid #004851;
  color: #004851;
  font-size: 20px;
  padding: 2rem;
  text-align: center;
}

.flexChildrenContainer__item--1 {
}

.flexChildrenContainer__item--2 {
}

.flexChildrenContainer__item--3 {
}
