.nestingContainer {
  margin: 2rem;
  padding: 1rem;
  border: 2px solid #004851;
  height: 100%;
}

.nestingContainer__item {
  border: 1px solid #004851;
  color: #004851;
  font-size: 20px;
  padding: 2rem;
  text-align: center;
}

.nestingContainer__nav {
}

.nestingContainer__content {
}

.nestingContainer__item--1 {
}

.nestingContainer__item--2 {
}

.nestingContainer__item--3 {
}
